$PrimaryColor: #fad02c;
$secondary: #333652;
$secondary-dark: #1d213b;
$white: #e9eaec;

@import
        "2016_sass/more",
        "2016_sass/404",
        "2016_sass/agenda",
        "2016_sass/team",
        "2016_sass/event",
        "2016_sass/about",
        "2016_sass/form"
;